body{
  font-family: 'Caladea', serif;
  background-color: azure;

}
.container{
  max-width: 1200px;
  margin: 0 auto;
}

.header{
  padding: 20px;
  background: #F0820F;
  color: #fff;
}

.menu{  
  float: right;
  padding: 0;
  margin: 0;
  list-style-type: none;
  
}
.menu-item{
  display: inline-block
}
.menu-item a{
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
}
.title{
  padding: 40px 16px;
  text-align: center;
  background: #21aabd;
  color: #fff;
  margin: 0;
  font-weight: 300;
  font-size: 50px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
           
}
.menuButtons{  
  float: right;
  padding: 0;
  margin: 0;
  list-style-type: none; 
}

.icon-bar{
  display: none;
  cursor: pointer;
}
.icon-bar span{
  display: block;
  height: 2px;
  background-color: #fff;
  width: 20px;
  margin-bottom: 5px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
.nascosto{
  display: none;
}
.card-header:hover{
  background-color: rgba(240, 130, 15, 0.719);
  color: #fff;
  box-shadow:  2px 2px 50px #25180b;
}
.card-header{
  transition: 0.3s ease-out;
}

.buttonContact {
  padding: 20px;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  background-color: #F0820F;
  border-radius: 5px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.popup button {
  cursor: pointer;
  background-color: #21aabd;
  color: #fff;
  border-radius: 10px;
  border: 0;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
}

.popup button:active {
  transform: scale(0.97);
}

.popup button:focus {
  outline: 0;
}
form {
  padding-top: 80px;
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  background-color: #f9f9f9;
}

/* Input style */
.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-container:focus-within label {
  transform: translate(0, 12px) scale(0.8);
  color: #f0820f;
}

.input-container .filled {
  transform: translate(0, 12px) scale(0.8);
}

.input-container label {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 23px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #0d54e2;
  font-size: 16px;
  line-height: 1;
  left: 16px;
}

.input-container input {
  height: 64px;
  border-radius: 4px;
  border: none;
  padding: 24px 16px 4px 16px;
  font-size: 16px;
  line-height: 1;
  outline: none;
  box-shadow: none;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.input-container input:focus {
  box-shadow: 0 0 0 2px #f0820f;
}



@media (max-width: 767px){
  .content, .sidebar{
      width: 100%;
  }
  .menu-item {
      display: block;
      width: 100%;
      text-align: center;
  } 
   .menu{
       width: 100%;
       height: 0;
       overflow: hidden;
       transition: all 0.3s ease-out;
       -webkit-transition: all 0.3s ease-out;
   }
   .logo{
       margin-bottom: 20px;
   }
   .menu-item a{
       padding: 10px 15px;
       display: block;
       border-bottom: 1px solid #888;
   } 
   .icon-bar{
       display: block;
       float: right;
   }
  
   .show-menu{
       height: 280px;
       
   }
   .contatto, .iniziali{
     text-align: center;
     vertical-align: baseline;
   }
}

@media (max-width: 576px) {
  .buttonContact {
    padding: 5px;
  }
}

